body {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appTitle{
  margin: 0;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
  background-color: rgb(36, 156, 255);
}

.appBody{
  width: 400px;
  margin: 50px auto;
  background-color: black;
  padding: 10px;
  border: 10px solid rgb(187, 184, 184);
  box-shadow: 2px 2px 4px #000000;
  border-radius: 5px;
}

.appBody  p{
  margin: 0;

}

.updateForm{
  width: 400px;
}

/* Tailles du texte */
.sm{
  font-size: 30px;
}

.xs{
  font-size: 50px;
}

input{
  padding: 5px;
  margin: 5px 0;
}

button{
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  background-color: rgb(47, 157, 247);
  cursor: pointer;
  margin: 8px 0;
}

button:hover{
  color: white;
  background-color: rgb(72, 169, 248);
}

